#list of ignored files and directories
archive/
project_dir/
train_dir/
image_dir/
tmp/
experiment_dir/
scripts/
checkpoints/
graph_transform.py
TFRecord/
.ipynb_checkpoints/
*.pyc
env/
__pycache__/
datasets/__pycache__
preprocessing/__pycache__/*.pyc
docker/cuda10.0.tar
docker/cuda10.0_devel.tar
docker/tf1.15_runtime_docker
docker/tf2_runtime_docker
